*{
    box-sizing: border-box;
}
:root{
    font-size: 2rem;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    border-radius: 10px;
    font-size: 1.2rem;
}
span{
    font-size: 1.2rem;
}